<div id="header">
  <h2 *ngIf="selectedCountryInfo">Selected Country: {{ selectedCountryInfo?.name }}</h2>
  <p *ngIf="!selectedCountryInfo">Select a country.</p>
</div>

<div id="cInfo">
  <div *ngIf="selectedCountryInfo; else noCountry">
    <p><strong>Capital:</strong> {{ selectedCountryInfo?.capital }}</p>
    <p><strong>Region:</strong> {{ selectedCountryInfo?.region }}</p>
    <p><strong>Income:</strong> {{ selectedCountryInfo?.income }}</p>
    <p><strong>ISO 2 Code:</strong> {{ selectedCountryInfo?.iso2 }}</p>
    <p><strong>Coordinates:</strong> {{ selectedCountryInfo?.longitude }}, {{ selectedCountryInfo?.latitude }}</p>
  </div>

  <ng-template #noCountry>
    <p>Country info will appear here.</p>
  </ng-template>
</div>

